$blue_egerie: #274058;
$orange_egerie: #e94e1b;
.box_submit{
  display: flex;
  align-items:center;
  justify-content: center;
  label{
    cursor: pointer;
    background-color: $blue_egerie;
    padding: 1.5em;
    margin-top: 1em;
    border-radius: 0.6em;
    transition: all ease-in-out 0.1s;
    &:hover{
      background-color: $orange_egerie;
    }
    &:active{
      transform: scale(0.9);
    }
  }
  input{
    display: none;
  }
}
.styleHidden{
  display: none;
}