$blue_egerie: #274058;
$orange_egerie: #e94e1b;
.box_input{
  label{
    cursor: pointer;
  }
  box-shadow: 1px 1px 5px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0;
  padding: 1em;
}
.box_radio{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  margin: 1em auto;
  label{
    border: 1px solid #274058;
    border-radius: 0.6em;
    padding: 0.5em;

    cursor: pointer;
    border-radius: 0.6em;
    transition: all ease-in-out 0.1s;
    cursor: pointer;
    &:hover{
      background-color: $orange_egerie;
    }
    &:active{
      transform: scale(0.9);
      &::after{
        background-color: $orange_egerie;
      }
    }
  }
}
input{
  cursor: pointer;
  border-radius: 0.8em;
  padding: 0.5em;
  margin: 0.5em;
}
.error{
  color: red;
}
p{
  display: flex;
  align-items: center;
  min-height: 2.5em;
  margin: 0;
  font-size: 0.7em;
}