$blue_egerie: #274058;
$orange_egerie: #e94e1b;
$white_egerie: #fff;
$success_egerie: #198754;
$error_egerie: #FFBABB;
#container{
  section{
    margin: 1em;
    padding: 1em 2em;
    border-radius: 0.3em;
    box-shadow: 0px 0px 5px $blue_egerie;
    font-family: sans-serif;
    text-align: center;
    padding: 1em 5vw;
    form{
      ul{
        padding: 0;
      }
    }
  }
  .box_btn{
    display: flex;
    justify-content: center;
    .btn_valid{
      text-align: center;
      color: green;
      &:disabled{
        color: red;
      }
    }
  }
  #form-react-natif{
    h1{
      color: $orange_egerie;
    }
    .box-logo{
      padding: 2em 10em;
      img{
        position: relative;
        width: 100%;
      }
    }
  }

}
